<!--
=========================================================
* Argon Design System - v1.2.0
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-design-system
* Copyright 2020 Creative Tim (http://www.creative-tim.com)

Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="/assets/images/favicon.png">
  <title>Dashboard - Login</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="/assets/css/toast.css" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
  <link href="/assets/css/font-awesome.css" rel="stylesheet" />
  <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
  <link href="/assets/css/argon.css?v=1.2.0" rel="stylesheet" />
  <link href="/assets/css/styles.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/assets/css/cookiealert.css">  
</head>
<style>
    body {
      background: rgb(230,54,0);
      background: -moz-linear-gradient(90deg, rgba(230,54,0,1) 0%, rgba(237,97,10,1) 25%, rgba(245,139,17,1) 50%, rgba(250,172,23,1) 100%);
      background: -webkit-linear-gradient(90deg, rgba(230,54,0,1) 0%, rgba(237,97,10,1) 25%, rgba(245,139,17,1) 50%, rgba(250,172,23,1) 100%);
      background: linear-gradient(90deg, rgba(230,54,0,1) 0%, rgba(237,97,10,1) 25%, rgba(245,139,17,1) 50%, rgba(250,172,23,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e63600",endColorstr="#faac17",GradientType=1);      
    }
    small {
        color: #333 !important;
    }
    .card {
        border-radius: 0px !important;
    } 
    .custom-control-input:checked~.custom-control-label::before {
      border-color: #2196f3;
      background-color: #2196f3;
    }    
</style>
<body class="login-page">  
  <section class="section ">
    <div class="container pt-lg-7">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">

            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4 text-center">
                <a href="" class="navbar-brand"><img src="/assets/images/relis_logo_white.png" alt="" height="35px"></a>
              </div>
              <br>           
              <form role="form">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email" id="email">
                  </div>
                </div>
                <div class="form-group focused">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password" id="password">
                  </div>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                  <label class="custom-control-label" for=" customCheckLogin"><span>Remember me</span></label>
                </div>
                <div class="text-center">
                  <br>
                  <a href="../forgot_password/" class="text-light"><small>Forgot password?</small></a> 
                  <br>  
                  <button type="button" class="btn orange-button btn-icon my-4" id="login">Sign in
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="login_spinner" style="display: none;"></span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </section>
  <div class="toast__container" id="toast" style="display: none;">
    <div class="toast__cell">
      <div class="toast toast--green" id="toast_class">
        <div class="toast__icon">
          <svg version="1.1" class="toast__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
          <g><g><path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"></path></g></g>
          </svg>
        </div>
        <div class="toast__content">
          <p class="toast__type" id="toast_header"></p>
          <p class="toast__message" id="toast_message"></p>
        </div>
        <div class="toast__close">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 15.642 15.642">
        <path fill-rule="evenodd" d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>  
    <div class="alert text-center cookiealert" role="alert">
      We use &#x1F36A; to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank" class="cookie-link">Learn more</a>
      <button type="button" class="btn cookie-button btn-sm acceptcookies">
          I accept
      </button>
  </div>
  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>  
  <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>  
  <script src="/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="/assets/js/cookie.min.js" type="text/javascript"></script>  
  <script src="/assets/js/firebase_config.js" type="text/javascript"></script>  
  <script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="/assets/js/login.js" type="text/javascript"></script>
  <script src="/assets/js/toast.js" type="text/javascript"></script>
  <script src="/assets/js/cookiealert.js"></script> 

</body>

</html>