<!--
=========================================================
* Argon Design System - v1.2.0
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-design-system
* Copyright 2020 Creative Tim (http://www.creative-tim.com)

Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RELIS Status - Dashboard</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/dashboard/css/bootstrap.css">
    <link href="/assets/dashboard/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/dashboard/css/style.css">
    <link rel="stylesheet" href="/assets/dashboard/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.css">
    <link rel="stylesheet" href="/assets/css/datepicker.min.css">
    <link rel="stylesheet" href="/assets/dashboard/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/vendor/datatables/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/vendor/datatables/css/buttons.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/vendor/datatables/css/select.bootstrap4.css">    
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/vendor/datatables/css/fixedHeader.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/cookiealert.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css">
</head>
<style>
select.form-control {
    background-image: url(/assets/dashboard/images/down-arrow.png);
}
</style>
<body>
    <div class="dashboard-main-wrapper">
       <div class="dashboard-header">
            <nav class="navbar navbar-expand-sm fixed-top">
                <a href="" class="navbar-brand"><img src="/assets/images/relis_logo_white.png" alt="" height="30px"></a>
                <span class="navbar-toggler-icon"></span>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user mr-2"></i></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="../account/"><i class="fas fa-fw fa-user-cog"></i> Account</a>
                                <a class="dropdown-item" id="logout"><i class="fas fa-power-off"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

      <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                General
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../"><i class="fas fa-fw fa-tachometer-alt"></i>Dashboard</a>
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" href="../../" target="_blank"><i class="fas fa-fw fa-window-restore"></i>View status page</a>
                            </li>                                                        
                            <li class="nav-divider">
                                Administration
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="../incidents/"><i class="fas fa-fw fa-exclamation-circle"></i>Incidents</a>
                            </li>                             
                            <li class="nav-item">
                                <a class="nav-link" href="../components/"><i class="fas fa-fw fa-cubes"></i>Components</a>
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" href="../users/"><i class="fas fa-fw fa-users"></i>Users</a>
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" href="../roles/"><i class="fas fa-fw fa-user-lock"></i>Roles</a>
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" href="../settings/"><i class="fas fa-fw fa-cog"></i>Settings</a>
                            </li>                                                                                                                                                                                                  
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="dashboard-wrapper" style="display: none;" id="content">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header d-flex align-items-center justify-content-between mb-4">
                            <h2 class="pageheader-title">Incidents</h2>
                            <div class="float-right" id="header_buttons">                               
                                <a class="btn green-button" data-toggle="modal" data-target="#create_modal" data-backdrop="static" data-keyboard="false"><i class="fas fa-plus"></i>
                                    New incident
                                </a>                                
                                <a type="button" class="btn red-button" data-toggle="modal" data-target="#deleteall_modal"><i class="fas fa-trash"></i>
                                    Delete all incidents                                  
                                </a>                                
                            </div>                    
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div style="text-align: center;" id="table_spinner">
                                    <span class="spinner-border spinner-border" role="status" aria-hidden="true" style="width: 8rem; height: 8rem; border-right-color: #f57d0d; border-left-color: #fff; border-bottom-color: #f57d0d; border-top-color: #fff;"></span>
                                </div>
                                <div class="table-responsive">                               
                                    <table class="table table-striped table-hover" id="table_id" style="width:100%">
                                        <thead>
                                         <tr>
                                            <th>ID (Firestore Document)</th>
                                            <th>Title</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                            <th>Affected components</th>
                                            <th>Created by</th>
                                            <th>Actions</th>
                                            <th>Description</th>
                                            <th>Date end</th>
                                            <th>Type</th>
                                         </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="page-header d-flex align-items-center justify-content-between mb-4">
                    <h2 class="pageheader-title">Status page bugged?</h2>                
                </div>      
                <button class="btn green-button" id="fix_statuspage">Click here</button>                                
                <!-- <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
1                                <br>
                             
                            </div>
                        </div>
                    </div>
                </div>                 -->
                <!-- <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header d-flex align-items-center justify-content-between mb-4">
                            <h2 class="pageheader-title">Templates</h2>
                            <div class="float-right" id="header_buttons">
                                <a class="btn green-button" data-toggle="modal" data-target="#template_modal" data-backdrop="static" data-keyboard="false"><i class="fas fa-plus"></i>
                                    New template
                                </a>                                                              
                            </div>                    
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" id="table_card">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">                               
                                    <table class="table table-striped table-hover" id="template_table_id" style="width:100%">
                                        <thead>
                                         <tr>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Actions</th>
                                         </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   -->
                <div class="card" style="display: none;" id="no_privileges_card">
                    <div class="card-body">
                        <h5 style="color:#e24c4c !important;">You do not have sufficient privileges to view or make changes to this page.</h5>
                    </div>                    
                </div>                 
                  <!-- Manage incident templates modal -->
                  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="template_modal" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">New template</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3"></div> 
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <form>
                                    <div class="form-group">
                                        <label for="nc_name" class="col-form-label"><span class="red">* </span>Name</label>
                                        <input type="text" class="form-control form-control-alternative" id="template_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="nc_description"><span class="red">* </span>Description</label>
                                        <textarea class="form-control form-control-alternative" id="template_description" rows="3"></textarea>
                                    </div>                                  
                                </form>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3"></div>                           
                        </div>                                                 
                        <div class="modal-footer">
                            <button type="button" class="btn red-button" data-dismiss="modal">Close</button>
                            <button type="button" class="btn green-button" id="create_template">Create template</button>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="manage_modal" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-xl">
                      <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="tab-regular">
                            <ul class="nav nav-tabs" id="myTab3" role="tablist" style="margin-left: 30px !important;">
                                <li class="nav-item">
                                    <a class="nav-link active show" id="home-vertical-tab" data-toggle="tab" href="#home-vertical" role="tab" aria-controls="home" aria-selected="true">Edit incident</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-vertical-tab" data-toggle="tab" href="#profile-vertical" role="tab" aria-controls="profile" aria-selected="false">Update incident</a>
                                </li>

                            </ul>
                            <div class="tab-content" id="myTabContent3">
                                <div class="tab-pane fade active show" id="home-vertical" role="tabpanel" aria-labelledby="home-vertical-tab">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                            <form>
                                                <div class="form-group">
                                                    <label for="inc_title_update" class="col-form-label"><span class="red">* </span>Title</label>
                                                    <input type="text" class="form-control form-control-alternative" id="inc_title_update">
                                                </div>
                                                <div class="form-group">
                                                    <label for="inc_description_update"><span class="red">* </span>Description</label>
                                                    <textarea class="form-control form-control-alternative" id="inc_description_update" rows="3"></textarea>
                                                </div>   
                                                <div class="form-group">
                                                    <label for="inc_start_date_update" class="col-form-label"><span class="red">* </span>Start date</label>
                                                    <input type="text" class="datepicker-here form-control form-control-alternative" data-timepicker="true" data-language='en' id="inc_start_date_update" autocomplete="off"/> 
                                                </div>
                                                <div class="form-group">
                                                    <label for="inc_end_date_update" class="col-form-label">End date</label>
                                                    <input type="text" class="datepicker-here form-control form-control-alternative" data-timepicker="true" data-language='en' id="inc_end_date_update" autocomplete="off"/> 
                                                </div>                                                                     
                                            </form>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="margin-top: 10px;">
                                            <form>
                                                <div class="form-group">
                                                    <label><span class="red">* </span>Type</label>
                                                    <br>
                                                    <select class="selectpicker" id="inc_type_update" data-width="100%">
                                                        <option>Incident</option>
                                                        <option>Planned maintenance</option>
                                                    </select>    
                                                </div>                                        
                                                <div class="form-group">
                                                    <label><span class="red">* </span>Components</label>
                                                    <br>
                                                    <select class="selectpicker" data-live-search="true" data-actions-box="true" id="inc_components_update" data-width="100%" multiple>
                                                    </select>    
                                                </div>                                   
                                            </form>
                                        </div>                            
                                    </div> 
                                    <br>
                                    <a href="#" class="btn green-button" id="inc_incident_edit">Update</a>
                                </div>
                                <div class="tab-pane fade" id="profile-vertical" role="tabpanel" aria-labelledby="profile-vertical-tab">
                                    <h3>Coming in a future update ..</h3>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn orange-button" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn green-button" id="inc_close">Close incident</button>
                        <button type="button" class="btn red-button" id="inc_delete">Delete incident</button>
                      </div>
                    </div>
                    </div>
                  </div>
                  <!-- Create new incident modal -->
                  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="create_modal" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Create new incident</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                <form>
                                    <div class="form-group">
                                        <label for="inc_title" class="col-form-label"><span class="red">* </span>Title</label>
                                        <input type="text" class="form-control form-control-alternative" id="inc_title">
                                    </div>
                                    <div class="form-group">
                                        <label for="inc_description"><span class="red">* </span>Description</label>
                                        <textarea class="form-control form-control-alternative" id="inc_description" rows="6"></textarea>
                                        <br>
                                        <label>Description templates</label>
                                        <br>                                        
                                        <select class="selectpicker" id="description_templates" data-width="100%" data-live-search="true" data-actions-box="true">

                                        </select>                                          
                                    </div>                                                                                                  
                                </form>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="margin-top: 10px;">
                                <form>
                                    <div class="form-group">
                                        <label><span class="red">* </span>Type</label>
                                        <br>
                                        <select class="selectpicker" id="inc_type" data-width="100%">
                                            <option>Incident</option>
                                            <option>Planned maintenance</option>
                                        </select>    
                                    </div>                                        
                                    <div class="form-group">
                                        <label><span class="red">* </span>Components</label>
                                        <br>
                                        <select class="selectpicker" data-live-search="true" id="inc_components" data-width="100%" multiple>
                                        </select>    
                                    </div>  
                                    <label for="inc_start_date_update" class="col-form-label"><span class="red">* </span>Start date</label>
                                    <div class=" form-group input-group mb-3">
                                        <input type="text" class="datepicker-here form-control form-control-alternative" data-timepicker="true" data-language='en' id="inc_start_date" autocomplete="off"/> 
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-form orange-button input-group-button" id="inc_start_date_button">Time now</button>
                                        </div>                                                
                                    </div>     
                                    <label for="inc_end_date" class="col-form-label">End date</label>
                                    <div class=" form-group input-group mb-3">
                                        <input type="text" class="datepicker-here form-control form-control-alternative" data-timepicker="true" data-language='en' id="inc_end_date" autocomplete="off"/> 
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-form orange-button input-group-button" id="inc_end_date_button">Time now</button>
                                        </div>                                                
                                    </div>                                                                        
                                </form>
                            </div>                            
                        </div>                                                 
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn red-button" data-dismiss="modal">Close</button>
                        <button type="button" class="btn green-button" id="create_incident">Create incident</button>
                      </div>
                    </div>
                    </div>
                  </div>
                  <!-- DELETE ALL INCIDENTS MODAL -->
                  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="deleteall_modal">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalScrollableTitle">Delete all incidents</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-light-danger" role="alert">
                            Please read ..
                        </div>                         
                        <p>The following will be deleted in Firebase Firestore:</p>
                        <code class="red">
                            /data/components/{component}/incidentDetails
                            <br>
                            /incidents/*
                            <br>
                        </code>
                        <br>
                        Are you sure you want to delete all incidents?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn orange-button" data-dismiss="modal">Close</button>
                      <button type="button" class="btn red-button" id="deleteAllIncidents">Delete</button>
                    </div>
                  </div>
                    </div>
                  </div>                  
            </div>

            <div class="footer fixed-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2021 RELIS 
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="alert text-center cookiealert" role="alert">
        We use &#x1F36A; to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank" class="cookie-link">Learn more</a>
        <button type="button" class="btn cookie-button btn-sm acceptcookies">
            I accept
        </button>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>  
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-storage.js"></script>  
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>  
    <script src="/assets/dashboard/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/firebase_config.js" type="text/javascript"></script>  
    <script src="/assets/js/cookie.min.js" type="text/javascript"></script>  
    <script src="/assets/js/moment.js"></script> 
    <script src="/assets/dashboard/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/assets/dashboard/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="/assets/dashboard/js/main-js.js"></script>
    <script src="/assets/dashboard/dashboard.js"></script>
    <script src="/assets/dashboard/js/incidents.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="/assets/js/datepicker.min.js"></script>  
    <script src="/assets/js/datepicker.en.js"></script>  
    <script src="/assets/js/cookiealert.js"></script> 

    <script src="/assets/dashboard/vendor/multi-select/js/jquery.multi-select.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/assets/dashboard/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="/assets/dashboard/vendor/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="/assets/dashboard/vendor/datatables/js/data-table.js"></script>    
</body>
 
</html>