<!--
=========================================================
* Argon Design System - v1.2.0
=========================================================

* Product Page: https://www.creative-tim.com/product/argon-design-system
* Copyright 2020 Creative Tim (http://www.creative-tim.com)

Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RELIS Status - Dashboard</title>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/dashboard/css/bootstrap.css">
    <link href="/assets/dashboard/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/dashboard/css/style.css">
    <link rel="stylesheet" href="/assets/dashboard/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="/assets/dashboard/dashboard.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/cookiealert.css">
</head>

<body>
    <div class="dashboard-main-wrapper">
       <div class="dashboard-header">
            <nav class="navbar navbar-expand-sm fixed-top">
                <a href="" class="navbar-brand"><img src="/assets/images/relis_logo_white.png" alt="" height="30px"></a>
                <span class="navbar-toggler-icon"></span>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user mr-2"></i></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="account/"><i class="fas fa-fw fa-user-cog"></i> My account</a>
                                <a class="dropdown-item" id="logout"><i class="fas fa-power-off"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

      <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                General
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href=""><i class="fas fa-fw fa-tachometer-alt"></i>Dashboard</a>
                            </li>   
                            <li class="nav-item">
                                <a class="nav-link" href="../" target="_blank"><i class="fas fa-fw fa-window-restore"></i>View status page</a>
                            </li>                                                  
                            <li class="nav-divider">
                                Administration
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="incidents/"><i class="fas fa-fw fa-exclamation-circle"></i>Incidents</a>
                            </li>                               
                            <li class="nav-item">
                                <a class="nav-link" href="components/"><i class="fas fa-fw fa-cubes"></i>Components</a>
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" href="users/"><i class="fas fa-fw fa-users"></i>Users</a>
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" href="roles/"><i class="fas fa-fw fa-user-lock"></i>Roles</a>
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link" href="settings/"><i class="fas fa-fw fa-cog"></i>Settings</a>
                            </li>                                                                                                                                                                     
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="dashboard-wrapper" style="display: none;" id="content">
            <div class="container-fluid dashboard-content">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Dashboard</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="incidents/?status=open">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 col-3">
                                            <i class="red fas fa-fw fa-exclamation-circle" style="align-self: center !important; font-size: 50px; margin-top: 5px;"></i>
                                        </div>     
                                        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-9 col-9">
                                            <h3 class="card-title">Open incidents</h3>
                                            <p style="font-size: 20px;" id="open_incidents"></p>
                                        </div>                                                                                      
                                    </div>
                                </div>
                            </div>  
                        </a>

                        <a href="incidents/?status=all">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 col-3">
                                            <i class="orange fas fa-fw fa-exclamation-circle" style="align-self: center !important; font-size: 50px; margin-top: 5px;"></i>
                                        </div>     
                                        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-9 col-9">
                                            <h3 class="card-title">Total incidents</h3>
                                            <p style="font-size: 20px;" id="total_incidents"></p>
                                        </div>                                                                                      
                                    </div>
                                </div>
                            </div>                    
                        </a>
                        <a href="incidents/?status=open">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 col-3">
                                            <i class="blue fas fa-fw fa-wrench" style="align-self: center !important; font-size: 50px; margin-top: 5px;"></i>
                                        </div>     
                                        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-9 col-9">
                                            <h3 class="card-title">Maintenance</h3>
                                            <p style="font-size: 20px;" id="maintenance"></p>
                                        </div>                                                                                      
                                    </div>
                                </div>
                            </div>                    
                        </a>
                        <a href="components/">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3 col-3">
                                            <i class="green fas fa-fw fa-cubes" style="align-self: center !important; font-size: 50px; margin-top: 5px;"></i>
                                        </div>     
                                        <div class="col-xl-11 col-lg-11 col-md-11 col-sm-9 col-9">
                                            <h3 class="card-title">Total components</h3>
                                            <p style="font-size: 20px;" id="total_components"></p>
                                        </div>                                                                                      
                                    </div>
                                </div>
                            </div>                    
                        </a>                                                                
                    </div>
                </div>
            </div>

            <div class="footer fixed-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            Copyright © 2021 RELIS 
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="alert text-center cookiealert" role="alert">
        We use &#x1F36A; to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank" class="cookie-link">Learn more</a>
        <button type="button" class="btn cookie-button btn-sm acceptcookies">
            I accept
        </button>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>  
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-storage.js"></script>  
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>  
    <script src="/assets/dashboard/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/firebase_config.js" type="text/javascript"></script>  
    <script src="/assets/js/cookie.min.js" type="text/javascript"></script>  
    <script src="/assets/dashboard/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/assets/dashboard/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="/assets/dashboard/js/main-js.js"></script>
    <script src="/assets/dashboard/dashboard.js"></script>
    <script src="/assets/dashboard/js/stats.js"></script>
    <script src="/assets/js/cookiealert.js"></script> 
</body>
 
</html>